/**
 * Dark mode settings
 */

@media (prefers-color-scheme: dark) {

	:root {
		--primary-color: #900;
		--secondary-color: #013;
		--tertiary-color: #550;
		--quaternary-color: #111;
		--background-color: #222;
		--button-background-color: #000;
		--button-background-color-hover: #444;
		--input-background-color: #ccc;
		--text-color: #fff;
		--text-color-visited: #bbb;
		--underline-color: #d33;
	}

	.palette-none {
		--primary-color: initial;
		--secondary-color: initial;
		--tertiary-color: initial;
		--quaternary-color: initial;
		--button-background-color: initial;
		--button-background-color-hover: initial;
		--link-color: initial;
		--link-color-hover: initial;
		--outline-color: initial;
		--underline-color: initial;
		--text-color-visited: initial;
	}

	html.palette-none {
		background-color: var(--background-color);
	}

	.palette-none code {
		color: var(--text-color);
	}

	.palette-none .sticky {
		--tertiary-color: #fff;
	}

	.palette-purple {
		--primary-color: #639;
		--secondary-color: #213;
		--tertiary-color: #051;
		--quaternary-color: #320;
		--button-background-color: var(--primary-color);
		--button-background-color-hover: #98d;
		--link-color: #baf;
		--link-color-hover: var(--text-color);
		--outline-color: var(--link-color);
		--underline-color: var(--link-color);
		--text-color-visited: #98d;
	}

	.palette-green {
		--primary-color: #070;
		--secondary-color: #120;
		--tertiary-color: #431;
		--link-color: var(--text-color);
		--link-color-hover: var(--text-color);
		--outline-color: var(--primary-color);
		--underline-color: var(--primary-color);
	}

	.entry-content {
		font-variation-settings: "wght" 450;
	}

	input,
	select,
	textarea,
	.wp-block-search .wp-block-search__input {
		background-color: var(--input-background-color);
		border-color: var(--input-background-color);
		color: var(--input-color);
	}

	button,
	input[type="submit"],
	input[type="reset"] {
		border-color: var(--text-color);
	}

	@supports ((-webkit-appearance: none) or (-moz-appearance: none) or (appearance: none)) {

		input[type="checkbox"],
		input[type="checkbox"]:checked::after {
			background-color: var(--input-background-color);
			border-color: var(--input-background-color);
		}

		input[type="radio"] {
			border-color: var(--input-background-color);
		}

		input[type="radio"]:checked::after {
			background-color: var(--background-color);
		}

	}

	#comments input[type="text"],
	#comments input[type="email"],
	#comments input[type="url"],
	#comments textarea {
		background-color: var(--input-background-color);
		color: var(--input-color);
	}

	input[type="checkbox"]:checked::after {
		background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20fill%3D%22%23333%22%20viewBox%3D%220%200%2032%2032%22%3E%3Cpath%20d%3D%22M27%204l-15%2015-7-7-5%205%2012%2012%2020-20z%22%2F%3E%3C%2Fsvg%3E);
	}

	.comment-form-cookies-consent input[type="checkbox"]:checked + label::before {
		background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20fill%3D%22%23333%22%20viewBox%3D%220%200%2032%2032%22%3E%3Cpath%20d%3D%22M27%204l-15%2015-7-7-5%205%2012%2012%2020-20z%22%2F%3E%3C%2Fsvg%3E);
	}

	#navlink {
		background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2040%2040%22%20fill%3D%22%23fff%22%3E%3Crect%20height%3D%226%22%20width%3D%2232%22%20x%3D%224%22%20y%3D%224%22%2F%3E%3Crect%20height%3D%226%22%20width%3D%2232%22%20x%3D%224%22%20y%3D%2217%22%2F%3E%3Crect%20height%3D%226%22%20width%3D%2232%22%20x%3D%224%22%20y%3D%2230%22%2F%3E%3C%2Fsvg%3E);
	}

	.search-submit,
	.wp-block-search .wp-block-search__button {
		background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2032%2032%22%20fill%3D%22%23fff%22%3E%3Cpath%20d%3D%22M31.715%2028.953c0.381%200.381%200.381%200.999%200%201.381l-1.381%201.381c-0.382%200.381-1%200.381-1.381%200l-9.668-9.668c-0.105-0.105-0.175-0.229-0.222-0.361-1.983%201.449-4.418%202.314-7.063%202.314-6.627%200-12-5.373-12-12s5.373-12%2012-12c6.627%200%2012%205.373%2012%2012%200%202.645-0.865%205.080-2.314%207.063%200.132%200.047%200.256%200.116%200.361%200.222l9.668%209.668zM12%204c-4.418%200-8%203.582-8%208s3.582%208%208%208%208-3.582%208-8c0-4.418-3.582-8-8-8z%22%2F%3E%3C%2Fsvg%3E);
	}

	@supports ((-webkit-appearance: none) or (-moz-appearance: none) or (appearance: none)) {

		.comments-container summary::before {
			background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20fill%3D%22%23fff%22%20viewBox%3D%220%200%2020%2020%22%3E%3Cpath%20d%3D%22M9.293%2012.95l0.707%200.707%205.657-5.657-1.414-1.414-4.243%204.242-4.243-4.242-1.414%201.414z%22%2F%3E%3C%2Fsvg%3E%0D%0A);
		}

	}

	.is-style-outline > .wp-block-button__link:not(.has-text-color),
	.wp-block-button__link.is-style-outline:not(.has-text-color) {
		color: var(--text-color);
	}

	.wp-block-calendar table caption,
	.wp-block-calendar table tbody,
	.wp-block-latest-posts__post-author,
	.wp-block-latest-posts__post-date,
	.wp-block-image figcaption {
		color: #999;
	}

	.wp-block-table.is-style-stripes tbody tr:nth-child(2n+1),
	.wp-block-calendar table th {
		background-color: #777;
	}

	.palette-purple #site-footer a {
		--underline-color: #baf;
	}

	:is(
		.palette-purple .blocks-gallery-grid .blocks-gallery-image figcaption,
		.palette-purple .blocks-gallery-grid .blocks-gallery-item figcaption,
		.palette-purple .wp-block-gallery .blocks-gallery-image figcaption,
		.palette-purple .wp-block-gallery .blocks-gallery-item figcaption
	) a {
		color: var(--link-color);
	}

	:is(
		.palette-purple .blocks-gallery-grid .blocks-gallery-image figcaption,
		.palette-purple .blocks-gallery-grid .blocks-gallery-item figcaption,
		.palette-purple .wp-block-gallery .blocks-gallery-image figcaption,
		.palette-purple .wp-block-gallery .blocks-gallery-item figcaption
	) a:hover {
		color: var(--text-color);
	}

	.palette-purple #site-footer a {
		--underline-color: #baf;
	}

	:is(
		.palette-purple .blocks-gallery-grid .blocks-gallery-image figcaption,
		.palette-purple .blocks-gallery-grid .blocks-gallery-item figcaption,
		.palette-purple .wp-block-gallery .blocks-gallery-image figcaption,
		.palette-purple .wp-block-gallery .blocks-gallery-item figcaption
	) a {
		color: var(--link-color);
	}

	:is(
		.palette-purple .blocks-gallery-grid .blocks-gallery-image figcaption,
		.palette-purple .blocks-gallery-grid .blocks-gallery-item figcaption,
		.palette-purple .wp-block-gallery .blocks-gallery-image figcaption,
		.palette-purple .wp-block-gallery .blocks-gallery-item figcaption
	) a:hover {
		color: var(--text-color);
	}

	.palette-orange {
		--primary-color: #e60;
		--secondary-color: #620;
		--tertiary-color: #046;
		--quaternary-color: #310;
		--link-color: var(--primary-color);
		--link-color-hover: var(--text-color);
		--outline-color: var(--secondary-color);
		--underline-color: var(--primary-color);
	}

	.palette-orange #comments a {
		color: var(--text-color);
	}

	.palette-orange #site-footer {
		color: var(--text-color);
	}

	.palette-orange #site-footer a {
		color: var(--text-color);
	}

	.palette-blue {
		--primary-color: #8bf;
		--secondary-color: #148;
		--tertiary-color: #530;
		--quaternary-color: #113;
		--link-color: var(--primary-color);
		--link-color-hover: var(--text-color);
		--outline-color: var(--primary-color);
		--underline-color: var(--primary-color);
	}

}
