/**
 * Editor styles for purple palette
 */
a {
	color: #080;
	-webkit-text-decoration-color: #080;
	text-decoration-color: #080;
}

.blocks-gallery-grid .blocks-gallery-image figcaption a,
.blocks-gallery-grid .blocks-gallery-item figcaption a,
.wp-block-gallery .blocks-gallery-image figcaption a,
.wp-block-gallery .blocks-gallery-item figcaption a {
	color: #fff;
}

.wp-block-code,
code {
	background-color: #750;
	color: #fff;
}
