/**
 * Editor styles
 */
body,
.entry-content {
	font-size: 1.25rem;
	font-family: Georgia, "Droid Serif", serif;
	line-height: 1.5;
}

button,
figure,
form,
h1,
h2,
h3,
h4,
h5,
h6,
img,
input,
option,
select,
textarea,
time,
video,
.gallery-caption,
.editor-post-title__block,
.editor-post-title__input {
	font-family: "Source Sans Pro", "Gill Sans", "Droid Sans", Calibri, "Trebuchet MS", sans-serif;
}

code,
pre {
	border-radius: 0;
	font-family: "Andale Mono", "Droid Sans Mono", monospace;
}

a {
	color: #333;
	-webkit-text-decoration-color: #c00;
	text-decoration-color: #c00;
	-webkit-text-decoration-skip-ink: none;
	text-decoration-skip-ink: none;
	text-decoration-thickness: 1px;
}

.blocks-gallery-item a {
	color: #fff;
}

.wp-block-code,
code {
	background-color: #058;
	color: #fff;
}

@media (min-width: 768px) {

	body {
		font-size: 1.25rem;
	}

}
