/**
 * Editor styles for purple palette
 */
a {
	color: #639;
	-webkit-text-decoration-color: #baf;
	text-decoration-color: #baf;
}

.blocks-gallery-grid .blocks-gallery-image figcaption a,
.blocks-gallery-grid .blocks-gallery-item figcaption a,
.wp-block-gallery .blocks-gallery-image figcaption a,
.wp-block-gallery .blocks-gallery-item figcaption a {
	color: #baf;
}

.wp-block-code,
code {
	background-color: #173;
	color: #fff;
}
