/**
 * Editor styles with webfonts
 */

body,
.entry-content {
	font-family: var(--font-content);
}

button,
figure,
form,
h1,
h2,
h3,
h4,
h5,
h6,
img,
input,
option,
select,
textarea,
time,
video,
.gallery-caption,
.editor-post-title__block,
.editor-post-title__input {
	font-family: var(--font-default);
}

code,
pre {
	font-family: var(--font-monospace);
}
