/**
 * Editor styles for purple palette
 */
a {
	color: #36a;
	-webkit-text-decoration-color: #8bf;
	text-decoration-color: #8bf;
}

.blocks-gallery-grid .blocks-gallery-image figcaption a,
.blocks-gallery-grid .blocks-gallery-item figcaption a,
.wp-block-gallery .blocks-gallery-image figcaption a,
.wp-block-gallery .blocks-gallery-item figcaption a {
	color: #fff;
}

.wp-block-code,
code {
	background-color: #962;
	color: #fff;
}
