/**
 * Icons
 */

input[type="checkbox"]:checked::after {
	background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20fill%3D%22%23fff%22%20viewBox%3D%220%200%2032%2032%22%3E%3Cpath%20d%3D%22M27%204l-15%2015-7-7-5%205%2012%2012%2020-20z%22%2F%3E%3C%2Fsvg%3E);
}

#navlink {
	background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2040%2040%22%20fill%3D%22%23333%22%3E%3Crect%20height%3D%226%22%20width%3D%2232%22%20x%3D%224%22%20y%3D%224%22%2F%3E%3Crect%20height%3D%226%22%20width%3D%2232%22%20x%3D%224%22%20y%3D%2217%22%2F%3E%3Crect%20height%3D%226%22%20width%3D%2232%22%20x%3D%224%22%20y%3D%2230%22%2F%3E%3C%2Fsvg%3E);
}

.search-submit {
	background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2032%2032%22%20fill%3D%22%23333%22%3E%3Cpath%20d%3D%22M31.715%2028.953c0.381%200.381%200.381%200.999%200%201.381l-1.381%201.381c-0.382%200.381-1%200.381-1.381%200l-9.668-9.668c-0.105-0.105-0.175-0.229-0.222-0.361-1.983%201.449-4.418%202.314-7.063%202.314-6.627%200-12-5.373-12-12s5.373-12%2012-12c6.627%200%2012%205.373%2012%2012%200%202.645-0.865%205.080-2.314%207.063%200.132%200.047%200.256%200.116%200.361%200.222l9.668%209.668zM12%204c-4.418%200-8%203.582-8%208s3.582%208%208%208%208-3.582%208-8c0-4.418-3.582-8-8-8z%22%2F%3E%3C%2Fsvg%3E);
}

@supports ((-webkit-appearance: none) or (-moz-appearance: none) or (appearance: none)) {

	select,
	.comments-container summary::before {
		background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20fill%3D%22%23333%22%20viewBox%3D%220%200%2020%2020%22%3E%3Cpath%20d%3D%22M9.293%2012.95l0.707%200.707%205.657-5.657-1.414-1.414-4.243%204.242-4.243-4.242-1.414%201.414z%22%2F%3E%3C%2Fsvg%3E%0D%0A);
	}

}
