/* Nieuw main stylesheet */

/**
 * Custom properties
 */
:root {
	--primary-color: #c00;
	--secondary-color: #ee5;
	--tertiary-color: #058;
	--quaternary-color: #eee;
	--background-color: #fff;
	--background-color-block: var(--quaternary-color);
	--button-background-color: #333;
	--button-background-color-hover: #555;
	--button-color: #fff;
	--border-color: #ccc;
	--font-default: "Source Sans Pro", "Droid Sans", "Calibri", "Optima", "Trebuchet MS", sans-serif;
	--font-content: "Georgia", "Droid Serif", serif;
	--font-monospace: "Andale Mono", "Droid Sans Mono", monospace;
	--form-border-width: 2px;
	--input-background-color: #eee;
	--input-color: #333;
	--link-color: var(--text-color);
	--link-color-hover: var(--link-color);
	--max-width: 960px;
	--outline-color: var(--primary-color);
	--postimage-height: 200px;
	--responsive--alignwide-width: 1200px;
	--text-color: #333;
	--text-color-code: #fff;
	--text-color-visited: #777;
	--underline-color: var(--primary-color);
	--underline-color-hover: var(--primary-color);
}

/**
 * Improve default WordPress styles
 */
.wp-caption,
.wp-caption-text {
	font-family: var(--font-default);
}

.wp-caption-text {
	margin-top: 0.25em;
}

.wp-embed-aspect-9-16,
.wp-embed-aspect-9-16 iframe,
.wp-embed-aspect-9-16 img,
.wp-embed-aspect-9-16 video {
	aspect-ratio: 9 / 16;
}

.wp-embed-aspect-16-9,
.wp-embed-aspect-16-9 iframe,
.wp-embed-aspect-16-9 img,
.wp-embed-aspect-16-9 video {
	aspect-ratio: 16 / 9;
}

.wp-embed-aspect-18-9,
.wp-embed-aspect-18-9 iframe,
.wp-embed-aspect-18-9 img,
.wp-embed-aspect-18-9 video {
	aspect-ratio: 18 / 9;
}

.wp-embed-aspect-21-9,
.wp-embed-aspect-21-9 iframe,
.wp-embed-aspect-21-9 img,
.wp-embed-aspect-21-9 video {
	aspect-ratio: 21 / 9;
}

.post-nav-links {
	clear: both;
}

/**
 * Animations
 */
@-webkit-keyframes site-footer-up {

	0% {
		top: 100%;
	}

	100% {
		top: 0;
	}

}

@keyframes site-footer-down {

	0% {
		top: 0;
	}

	100% {
		top: 100%;
	}

}

@keyframes site-footer-up {

	0% {
		top: 100%;
	}

	100% {
		top: 0;
	}

}

/**
 * General
 */
*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	background: #ee5;
	background: var(--secondary-color);
}

body {
	color: #333;
	color: var(--text-color);
	padding: 0;
	margin: 0;
}

code {
	background-color: var(--tertiary-color);
	color: var(--text-color-code);
	padding: 0 2px;
}

img {
	height: auto;
	max-width: 100%;
}

/* Fallback for old browsers */
[hidden],
template {
	display: none;
}

/* Fake inert */
#content[inert],
#page[inert] {
	visibility: hidden;
}

h1 {
	font-size: 2.5rem;
	word-wrap: break-word;
}

h2,
h3,
h4 {
	word-wrap: break-word;
}

h5,
h6 {
	font-style: italic;
	font-weight: 400;
	word-wrap: break-word;
}

h1 b,
h1 strong,
h2 b,
h2 strong,
h3 b,
h3 strong,
h4 b,
h4 strong {
	font-weight: 900;
}

svg {
	fill: currentColor;
}

/* Only for screen readers */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	-webkit-clip-path: inset(50%);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
	word-break: normal;
}

.container::after,
.container::before {
	clear: both;
	content: "";
	display: table;
}

/**
 * Set default WordPress styles
 */
img.aligncenter,
.aligncenter > * {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.alignfull {
	clear: both;
	max-width: none;
}

@supports (max-width: var(--max-width)) {

	:not(img).alignfull {
		margin-left: -1rem;
		margin-right: -1rem;
		width: auto;
	}

	.alignfull iframe {
		height: auto;
		margin-left: -1rem;
		margin-right: -1rem;
		width: 100%;
	}

}

.bypostauthor > article {
	border-left: 5px solid var(--tertiary-color);
	padding-left: 1em;
}

.comment {
	scroll-margin-top: 24px;
}

.gallery-caption {
	font-size: 0.75em;
}

/**
 * Fonts
 */
.entry-content {
	font-family: serif;
	font-family: var(--font-content);
	margin-bottom: 1rem;
	margin-top: 1rem;
}

body,
button,
figure,
form,
h1,
h2,
h3,
h4,
h5,
h6,
img,
input,
option,
select,
textarea,
time,
video,
.gallery-caption,
.page-links {
	font-family: sans-serif;
	font-family: var(--font-default);
}

code,
pre {
	font-family: var(--font-monospace);
}

/**
 * Links
 */
a {
	color: #c00;
	color: var(--link-color);
	outline-offset: 1px;
	-webkit-text-decoration-color: var(--underline-color);
	text-decoration-color: var(--underline-color);
	text-decoration-thickness: 1px;
	-webkit-text-decoration-skip-ink: none;
	text-decoration-skip-ink: none;
	-webkit-transition: 0.3s text-decoration-thickness linear;
	transition: 0.3s text-decoration-thickness linear;
}

@supports (text-decoration-thickness: 3px) {

	*:focus,
	a:focus {
		outline: 0;
	}

	*:focus-visible,
	a:focus-visible {
		color: var(--link-color-hover);
		outline: 2px solid var(--outline-color);
		outline-offset: 2px;
	}

	a:hover {
		color: var(--link-color-hover);
		text-decoration-thickness: 3px;
	}

}

.more {
	white-space: nowrap;
}

.nav-single a {
	display: inline-block;
	min-height: 1em;
	min-width: 1em;
}

.excerpt .entry-title a {
	display: inline-block;
	min-height: 1em;
	min-width: 1em;
	max-width: 100%;
}

.entry-content a:visited {
	color: var(--text-color-visited);
}

.entry-content a:hover {
	color: var(--link-color-hover);
}

.entry-content .more:not(:hover):visited,
.entry-content h1 a:not(:hover):visited,
.entry-content h2 a:not(:hover):visited,
.entry-content h3 a:not(:hover):visited,
.entry-content h4 a:not(:hover):visited {
	color: var(--link-color);
}

#site-footer a {
	color: #333;
	color: var(--link-color);
}

/**
 * Forms
 */
input,
textarea {
	background-color: var(--input-background-color);
	border: 2px solid var(--text-color);
	border-radius: 0;
	color: var(--input-color);
	padding: 0.5em;
}

button,
input[type="submit"],
input[type="reset"] {
	background-color: var(--button-background-color);
	border-color: var(--button-background-color);
	color: var(--button-color);
	font-weight: 700;
	padding: 0.5em 2em;
}

button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover {
	background-color: var(--button-background-color-hover);
	border-color: var(--button-background-color-hover);
}

@supports ((-webkit-appearance: none) or (-moz-appearance: none) or (appearance: none)) {

	input[type="checkbox"],
	input[type="radio"] {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		border: 2px solid var(--text-color);
		display: inline-block;
		height: 1em;
		overflow: hidden;
		padding: 0;
		position: relative;
		margin: 0 0.5em -0.125em 0;
		width: 1em;
	}

	input[type="checkbox"]::after {
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-size: 0.5em;
		content: "";
		display: block;
		height: 1em;
		left: -2px;
		position: absolute;
		top: -2px;
		width: 1em;
	}

	input[type="checkbox"]:checked::after {
		background-color: var(--text-color);
	}

	input[type="radio"] {
		border-radius: 50%;
	}

	input[type="radio"]::after {
		border-radius: 50%;
		clear: left;
		content: "";
		display: block;
		height: 0.5em;
		left: calc(0.25em - 2px);
		position: absolute;
		top: calc(0.25em - 2px);
		width: 0.5em;
	}

	input[type="radio"]:checked::after {
		background-color: var(--text-color);
	}

	select {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		background-color: var(--input-background-color);
		background-repeat: no-repeat;
		background-position: calc(100% - 4px) 50%;
		background-size: 24px;
		border: 2px solid var(--text-color);
		border-radius: 0;
		color: var(--input-color);
		margin-left: -2px;
		padding: 0.5em;
		padding-right: 32px;
	}

}

/**
 * Page
 */
#page {
	background: #fff;
	background: var(--background-color);
	border-top: 10px solid #c00;
	border-top: 10px solid var(--primary-color);
	color: #333;
	color: var(--text-color);
	position: relative;
}

/**
 * Header
 */
#site-header {
	padding: 1rem;
	position: absolute;
	top: 0;
	right: 0;
}

#navlink {
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: 40px;
	display: block;
	height: 40px;
	position: relative;
	margin-left: 0;
	width: 40px;
	z-index: 4;
}

.site-navigation-open #navlink {
	background-color: transparent;
	position: fixed;
	right: 1rem;
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
}

/**
 * Content
 */
#content {
	line-height: 1.5;
	opacity: 1;
	padding: 40px 1rem 4em;
}

#content::after {
	clear: both;
	content: "";
	display: table;
}

#content pre {
	overflow-x: auto;
}

#content article {
	margin-bottom: 2rem;
}

.container,
.entry-content > *,
.entry-meta,
.entry-title,
.entry-info {
	margin-left: auto;
	margin-right: auto;
	max-width: 960px;
}

.entry-content:after {
	content: "";
	display: table;
	clear: both;
}

@supports (max-width: var(--max-width)) {

	.entry-content > * {
		max-width: none;
	}

	.container,
	.entry-content > :not(.wp-block-code):not(.wp-block-cover.alignleft):not(.wp-block-gallery.alignleft):not(.wp-block-image.alignleft):not(.wp-block-cover.alignright):not(.wp-block-gallery.alignright):not(.wp-block-image.alignright):not(.alignfull):not(.alignwide),
	.entry-meta,
	.entry-title,
	.entry-info,
	.post-nav-links {
		margin-left: auto;
		margin-right: auto;
		max-width: var(--max-width);
	}

}

.entry-title > h1 {
	margin: 1rem 0 0;
}

.entry-title > h2 {
	margin-bottom: 0;
}

.entry-title > .alignwide,
.entry-content > .alignwide {
	margin-left: auto;
	margin-right: auto;
	max-width: var(--responsive--alignwide-width);
	padding-left: 0;
	padding-right: 0;
	width: 100%;
}

.entry-title {
	margin-bottom: 0;
}

.entry-meta {
	font-size: 0.875rem;
}

.entry-meta ul {
	list-style: none;
	margin: 0 0 2rem;
	padding: 0;
}

.entry-meta li {
	display: inline-block;
	margin: 0;
	padding: 0;
}

.entry-meta li:not(:first-child)::before {
	content: "·";
}

.entry-info {
	padding-top: 2rem;
}

.entry-info::after,
.entry-info::before {
	clear: both;
	content: "";
	display: table;
}

.p-category {
	float: left;
	margin-right: 0.5em;
}

.p-category::before {
	content: "#";
}

.posts-navigation {
	clear: both;
	margin: 4rem auto 2rem;
	max-width: 960px;
	max-width: var(--max-width);
}

.posts-navigation::after,
.posts-navigation::before {
	clear: both;
	content: "";
	display: table;
}

.search .posts-navigation .nav-links {
	padding-top: 2rem;
}

.sticky {
	border-left: 5px solid #058;
	border-left: 5px solid var(--tertiary-color);
	padding-left: 1em;
}

.sticky h2 {
	line-height: 1;
	margin-bottom: 0.25em;
}

.nav-single {
	clear: both;
	padding-top: 4em;
}

.nav-single .meta-nav {
	display: block;
	font-size: 0.75em;
}

.nav-next .meta-nav {
	text-align: right;
}

.nav-previous .meta-nav {
	text-align: left;
}

.nav-previous {
	float: left;
}

.nav-next {
	float: right;
}

.entry-image {
	background-color: var(--background-color-block);
	height: 200px;
	height: var(--postimage-height);
	position: relative;
	margin: -40px -1rem 0;
	overflow: hidden;
}

.entry-image img {
	height: auto;
	left: 50%;
	min-height: 100%;
	min-width: 100%;
	object-fit: cover;
	position: absolute;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: auto;
}

.excerpt {
	position: relative;
	margin: 3rem auto;
	max-width: 960px;
	max-width: var(--max-width);
	z-index: 2;
}

.excerpt .entry-image,
.excerpt .entry-title,
.excerpt .entry-meta,
.excerpt .entry-content {
	position: relative;
	z-index: 3;
}

.excerpt .entry-image {
	float: right;
	height: 8rem;
	margin: 1rem 0 0.5rem 1rem;
	width: 8rem;
}

.excerpt .entry-content p:first-child {
	margin-top: 0;
}

/**
 * Comments
 */
.comments-container {
	clear: both;
	padding-top: 4rem;
}

#comments {
	background-color: var(--background-color-block);
	font-size: 1rem;
	padding: 1rem;
}

#comments > ol {
	list-style: none;
	padding-left: 0;
}

#comments ul {
	list-style: none;
}

#comments a:hover {
	text-decoration-thickness: 2px;
}

#comments input {
	font-size: 0.875rem;
}

#comments input[type="text"],
#comments input[type="email"],
#comments input[type="url"],
#comments textarea {
	background-color: var(--background-color);
	color: var(--text-color);
	font-size: 0.875rem;
	width: calc(100% - 1rem);
}

.comment-list {
	margin-top: 0;
}

.comment-meta {
	line-height: 1.325;
}

.comment-meta::after {
	clear: both;
	content: "";
	display: "table";
}

.comment-meta img {
	float: left;
	margin-bottom: 1em;
	margin-right: 1em;
	margin-top: 0.325em;
}

.comments-container summary {
	cursor: pointer;
	list-style: none;
	padding: 0.25em 0 0.25em 26px;
	position: relative;
}

.comments-container summary::before {
	background-position: -6px 2px;
	background-repeat: no-repeat;
	background-size: 24px;
	content: "";
	display: block;
	height: 24px;
	left: 4px;
	position: absolute;
	top: 0.375em;
	width: 24px;
}

.comments-container summary::-webkit-details-marker,
.comments-container summary::marker {
	display: none;
}

.comments-container details[open] summary::before {
	-webkit-transform: rotate(180deg) translate(12px, -4px);
	transform: rotate(180deg) translate(12px, -4px);
}

.comment .comment-respond {
	margin-bottom: 2rem;
}

.comment-reply-title small {
	margin: 0 0.5em;
}

#commentform .form-submit {
	margin-bottom: 0;
}

#reply-title {
	margin-top: 0;
}

@supports ((-webkit-appearance: none) or (-moz-appearance: none) or (appearance: none)) {

	#comments input[type="checkbox"]::after {
		background-color: var(--background-color);
	}

	#comments input[type="checkbox"]:checked::after {
		background-color: var(--text-color);
	}

}

/**
 * Footer
 */
#site-footer {
	background: #ee5;
	background: var(--secondary-color);
	font-weight: 700;
	padding: 1rem;
	padding-top: 50px;
	position: absolute;
	width: 100%;
	z-index: 3;
}

#site-footer b,
#site-footer strong {
	font-weight: 900;
}

.custom-logo-link {
	display: inline-block;
	height: auto;
	margin-top: 1em;
	max-width: 100px;
}

.custom-logo-link img {
	float: left;
}

.custom-logo-link::after,
.custom-logo-link::before {
	content: "";
	display: table;
}

.custom-logo-link::after {
	clear: both;
}

#site-navigation:focus {
	outline: 1px dotted #333;
}

#site-navigation li {
	line-height: 2;
}

#site-navigation a img {
	float: left;
}

.site-navigation-open body {
	max-height: 100%;
	overflow-y: hidden;
}

.site-navigation-close #site-footer {
	-webkit-animation: site-footer-down ease-in 0.3s;
	animation: site-footer-down ease-in 0.3s;
	bottom: 0;
}

.site-navigation-open #site-footer {
	-webkit-animation: site-footer-up ease-out 0.3s;
	animation: site-footer-up ease-out 0.3s;
	bottom: 0;
	overflow-y: auto;
	position: fixed;
	top: 0;
}

#site-footer .container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

#site-footer .nav-menu {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
}

#site-footer .nav-menu ul {
	list-style: none;
}

.site-feed,
.site-search-toggle {
	text-indent: 33px;
}

/**
 * Search
 */
.search .entry-content input[type="search"] {
	-webkit-appearance: textfield; /* For Safari */
	margin-right: 10px;
	width: calc(100% - 60px);
}

.search .entry-content h1 {
	margin-bottom: 0.5em;
}

.search-submit {
	background-color: transparent;
	background-position: 0 0;
	background-size: cover;
	background-repeat: no-repeat;
	border: 0;
	display: inline-block;
	height: 2.5rem;
	overflow: hidden;
	padding: 0;
	text-indent: 2.6rem;
	width: 2.5rem;
}

.search-submit:hover {
	background-color: transparent;
}

#site-search {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background-color: #111;
	bottom: 0;
	color: #fff;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 999;
}

#site-search form {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background-color: #bbb;
	color: var(--input-color);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 0.5rem;
	max-width: 100%;
}

#site-search form:focus-within {
	background-color: #fff;
}

#site-search label {
	display: block;
	margin-right: 0.5em;
	width: calc(100% - 3rem);
}

#site-search button,
#site-search input[type="search"] {
	border: 0;
	background-color: transparent;
	color: var(--input-color);
}

#site-search input[type="search"] {
	-webkit-appearance: textfield; /* For Safari */
	font-size: 1.5rem;
	width: 100%;
}

#site-search input[type="search"]:focus {
	outline: 0;
}

#site-search button {
	margin-left: -0.5em;
}

#site-search #site-search-close {
	color: #fff;
	display: block;
	padding: 0;
	position: absolute;
	right: 1rem;
	top: 1rem;
}

.admin-bar #site-search #site-search-close {
	top: calc(32px + 1rem);
}

#site-search-close svg {
	fill: currentColor;
}

.search-open body {
	height: 100%;
	overflow: hidden;
}

/**
 * Media queries
 */
@media (prefers-reduced-motion: reduced) {

	a {
		-webkit-transition: none;
		transition: none;
	}

	.site-navigation-open #site-footer {
		-webkit-animation: none;
		animation: none;
	}

	.site-navigation-close #site-footer {
		-webkit-animation: none;
		animation: none;
	}

}

@media only screen and (min-width: 482px) {

	img.alignleft,
	.alignleft > * {
		float: left;
		margin-left: auto;
		margin-right: 1rem;
	}

	img.alignright,
	.alignright > * {
		float: right;
		margin-left: 1rem;
		margin-right: auto;
	}

}

@media (min-width: 768px) {

	#site-search form {
		padding: 1rem;
	}

	#site-search input[type="search"] {
		width: 30em;
	}

	#site-search button {
		margin-left: 0;
	}

	.excerpt > * {
		float: none;
	}

	.entry-image {
		height: calc(var(--postimage-height) * 1.5);
	}

}

@media (min-width: 1025px) {

	#site-navigation-container {
		margin-right: -1rem;
		padding-right: 1rem;
	}

}

@media (min-width: 1366px) {

	.excerpt .entry-image {
		height: 9.5em;
		margin: 0;
		position: absolute;
		left: -10.5em;
		top: 0.5rem;
		width: 9.5em;
	}

}

@media (min-width: 1024px) {

	button,
	input,
	select,
	textarea,
	#page {
		font-size: 1.25rem;
	}

}

@media (min-width: 36rem) {

	#site-navigation a img {
		float: right;
	}

	#site-footer .container {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: reverse;
		-ms-flex-direction: row-reverse;
		flex-direction: row-reverse;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		margin: 0 auto;
		max-width: 960px;
		max-width: var(--max-width);
	}

	#site-footer .container > * {
		flex-grow: 1;
	}

	#site-navigation-container {
		min-width: 14em;
		text-align: right;
		margin-left: 1rem;
		padding-left: 0;
	}

	#site-navigation li {
		line-height: 1.5;
	}

}

/**
 * Palettes
 */
.palette-none {
	--primary-color: initial;
	--secondary-color: initial;
	--tertiary-color: initial;
	--quaternary-color: initial;
	--button-background-color: #333;
	--button-background-color-hover: #555;
	--link-color: initial;
	--link-color-hover: initial;
	--outline-color: initial;
	--underline-color: initial;
	--text-color-visited: initial;
}

.palette-none *:focus-visible {
	outline-style: dotted;
}

.palette-none code {
	color: #333;
}


.palette-none .sticky {
	--tertiary-color: #333;
}

.palette-purple {
	--primary-color: #639;
	--secondary-color: #baf;
	--tertiary-color: #173;
	--quaternary-color: #fd9;
	--button-background-color: var(--primary-color);
	--button-background-color-hover: #76b;
	--link-color: var(--primary-color);
	--link-color-hover: #76b;
	--outline-color: var(--secondary-color);
	--underline-color: var(--primary-color);
	--text-color-visited: #76b;
}

.palette-purple a:visited,
.palette-purple a:hover {
	text-decoration-color: var(--secondary-color);
}

.palette-purple #site-footer a:visited,
.palette-purple #site-footer a:hover {
	text-decoration-color: var(--primary-color);
}

.palette-purple #navlink,
.palette-purple #comments,
.palette-purple #site-footer a {
	color: var(--text-color);
	--outline-color: var(--primary-color);
	--underline-color: var(--primary-color);
}

.palette-green {
	--primary-color: #080;
	--secondary-color: #dfc;
	--tertiary-color: #750;
	--quaternary-color: #fed;
	--link-color: var(--primary-color);
	--link-color-hover: var(--text-color);
	--outline-color: var(--primary-color);
	--underline-color: var(--primary-color);
}

.palette-green #comments {
	--outline-color: var(--primary-color);
}

.palette-green #comments a {
	color: var(--text-color);
	--underline-color: var(--primary-color);
}

.palette-green #site-footer a {
	color: var(--text-color);
}

.palette-orange {
	--primary-color: #f70;
	--secondary-color: #fb0;
	--tertiary-color: #179;
	--quaternary-color: #feb;
	--link-color: var(--text-color);
	--link-color-hover: var(--text-color);
	--outline-color: var(--secondary-color);
	--underline-color: var(--primary-color);
}

.palette-orange #comments a {
	color: var(--text-color);
}

.palette-orange #site-footer {
	color: #000;
}

.palette-orange #site-footer a {
	color: #000;
	--outline-color: var(--primary-color);
}

.palette-blue {
	--primary-color: #36a;
	--secondary-color: #8bf;
	--tertiary-color: #962;
	--quaternary-color: #eef;
	--link-color: var(--primary-color);
	--link-color-hover: var(--text-color);
	--outline-color: var(--secondary-color);
	--underline-color: var(--primary-color);
}

.palette-blue a:visited,
.palette-blue a:hover {
	--underline-color: var(--secondary-color);
}

.palette-blue #site-footer a {
	color: var(--text-color);
	--outline-color: var(--primary-color);
	--underline-color: var(--primary-color);
}
