/**
 * Print styles
 */

@page {
	margin: 2cm;
}

html {
	background: #fff !important;
}

body {
	background: #fff !important;
	color: #000;
	font-size: 12pt;
	line-height: 1.3;
}

#content,
.entry-content {
	line-height: 1.3;
}

#page > * {
	background: transparent !important;
	position: relative;
}

#content {
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
}

#content article {
	margin-left: 0;
	margin-right: 0;
}

.comments-summary,
.entry-info,
#comments,
#site-footer {
	padding: 0;
}

.more,
.posts-navigation,
.nav-single,
#comments-summary,
#respond,
#comments .reply,
#site-header,
#site-navigation-container {
	display: none !important;
}

a,
blockquote {
	page-break-inside: avoid;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	page-break-after: avoid;
	page-break-inside: avoid;
}

img {
	page-break-inside: avoid;
	page-break-after: avoid;
}

table,
pre,
figure {
	page-break-inside: avoid;
}

ul,
ol,
dl {
	page-break-before: avoid;
}

a,
a:link,
a:visited {
	background: transparent;
	font-weight: 600;
	text-decoration: underline;
	text-align: left;
}

a[href^="http"]::after {
	content: " < " attr(href) "> ";
}

a[href^="#"]::after,
a::after > img {
	content: "";
}

a:local-link::after {
	content: "";
}

.wp-block-code {
	border: 0;
}
