/*
Theme Name: Nieuw
Description: Adds support for languages written in a Right To Left (RTL) direction.
*/

body {
	direction: rtl;
	unicode-bidi: embed;
}

caption,
th,
td {
	text-align: right;
}

#site-header {
	left: 0;
	right: auto;
}

#site-navigation-container {
	text-align: left;
}

@media (min-width: 1025px) {

	#site-navigation-container {
		margin-left: -1rem;
		padding-left: 1rem;
		margin-right: auto;
		padding-right: auto;
	}

}

.excerpt .entry-image {
	left: auto;
	right: -10em;
}

.sticky.excerpt .entry-image {
	left: auto;
	right: -11em;
}

.nav-previous {
	float: right;
}

.nav-previous .meta-nav {
	text-align: right;
}

.nav-next {
	float: left;
}

.nav-next .meta-nav {
	text-align: left;
}

.comment-meta img {
	float: right;
	margin-left: 1em;
	margin-right: auto;
}

.comments-container summary {
	margin-left: auto;
	margin-right: -4px;
	padding-left: 0;
	padding-right: 36px;
}

.comments-container summary::before {
	left: auto;
	right: 4px;
}

.comment-form-cookies-consent label {
	padding-left: auto;
	padding-right: 32px;
}

.comment-form-cookies-consent label::before {
	left: auto;
	right: 0;
}

.comment-form-cookies-consent input[type="checkbox"]:focus + label::after {
	left: auto;
	right: -4px;
}

.entry-content input[type="search"] {
	margin-left: 10px;
	margin-right: auto;
}

.p-category {
	float: right;
	margin-left: 0.5em;
	margin-right: 0;
}

#site-footer .nav-menu {
	margin: 0;
	padding: 0;
}

#site-search-close {
	left: 1rem;
	right: auto;
}

.site-search-toggle,
.search-submit {
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
}
