/**
 * Webfonts
 *
 * Bitter Pro (https://github.com/solmatas/BitterPro)
 * Exo 2 (https://github.com/NDISCOVER/Exo-2.0)
 * Source Code Pro (https://github.com/adobe-fonts/source-code-pro)
 *
 * Fonts are licensed under the SIL Open Font License (https://scripts.sil.org/OFL)
 */

/* Only load in browsers that support variable fonts */
@supports (font-variation-settings: normal) {

	:root {
		--font-default: "Exo 2", "Droid Sans", "Calibri", "Optima", "Trebuchet MS", sans-serif;
		--font-content: "Bitter Pro", georgia, "Droid Serif", serif;
		--font-monospace: "Source Code Variable", "Andale Mono", "Droid Sans Mono", monospace;
		--unicode-range: U+0020-009F,U+00A0-00FF,U+20AC,U+2010,U+2013,U+2014,U+2018,U+2019,U+201A,U+201C,U+201D,U+201E,U+2039,U+203A,U+2026,U+2022;
	}

	/* Bitter */
	@font-face {
		font-display: swap;
		font-family: "Bitter Pro";
		src:
			local(""),
			url(../../fonts/bitter-wght-latin1.woff2) format("woff2 supports variations"),
			url(../../fonts/bitter-wght-latin1.woff2) format("woff2-variations");
		unicode-range: var(--unicode-range);
	}

	/* Bitter Italic */
	@font-face {
		font-display: swap;
		font-family: "Bitter Pro";
		font-style: italic;
		src:
			local(""),
			url(../../fonts/bitter-italic-wght-latin1.woff2) format("woff2 supports variations"),
			url(../../fonts/bitter-italic-wght-latin1.woff2) format("woff2-variations");
		unicode-range: var(--unicode-range);
	}

	/* Exo 2 */
	@font-face {
		font-display: swap;
		font-family: "Exo 2";
		src:
			local(""),
			url(../../fonts/exo2-wght-latin1.woff2) format("woff2 supports variations"),
			url(../../fonts/exo2-wght-latin1.woff2) format("woff2-variations");
		unicode-range: var(--unicode-range);
	}

	/* Exo 2 Italic */
	@font-face {
		font-display: swap;
		font-family: "Exo 2";
		font-style: italic;
		src:
			local(""),
			url(../../fonts/exo2-italic-wght-latin1.woff2) format("woff2 supports variations"),
			url(../../fonts/exo2-italic-wght-latin1.woff2) format("woff2-variations");
		unicode-range: var(--unicode-range);
	}

	/* Source Code Pro */
	@font-face {
		font-display: swap;
		font-family: "Source Code Variable";
		src:
			local(""),
			url(../../fonts/source-code-latin1.woff2) format("woff2 supports variations"),
			url(../../fonts/source-code-latin1.woff2) format("woff2-variations");
		unicode-range: var(--unicode-range);
	}

	/* Source Code Pro Italic */
	@font-face {
		font-display: swap;
		font-family: "Source Code Variable";
		font-style: italic;
		src:
			local(""),
			url(../../fonts/source-code-italic-latin1.woff2) format("woff2 supports variations"),
			url(../../fonts/source-code-italic-latin1.woff2) format("woff2-variations");
		unicode-range: var(--unicode-range);
	}

	.entry-content {
		font-weight: 400;
		font-variation-settings: "wght" 500;
	}

	h1 {
		font-weight: 400;
		font-variation-settings: "wght" 800;
	}

	h2,
	h3,
	h4,
	h5,
	h6,
	b,
	strong,
	#site-footer {
		font-weight: 400;
		font-variation-settings: "wght" 700;
	}

	:where(h1, h2, h3, h4) b,
	:where(h1, h2, h3, h4) strong,
	#site-footer :where(b, strong) {
		font-weight: 400;
		font-variation-settings: "wght" 800;
	}

	#site-footer :where(h2, h3, h4) {
		font-weight: 400;
		font-variation-settings: "wght" 800;
	}

}
