.wp-block-button__link,
.wp-block-file__button {
	font-family: var(--font-default);
}

.wp-block-button__link,
.entry-content .wp-block-button__link:visited {
	background-color: var(--button-background-color);
	color: #fff;
}

.wp-block-button.is-style-squared .wp-block-button__link {
	border-radius: 0;
}

.palette-purple .is-style-outline > .wp-block-button__link,
.palette-purple .wp-block-button__link.is-style-outline {
	color: var(--primary-color);
	border-color: var(--primary-color);
}

.wp-block-button__link:hover,
.entry-content .wp-block-button__link:hover {
	background-color: var(--button-background-color-hover);
	border-color: var(--button-background-color-hover);
	color: #fff;
}
