.wp-block-code {
	background-color: var(--tertiary-color);
	border: 5px solid var(--tertiary-color);
	margin: 1em -1rem;
}

.wp-block-code code {
	border: 0;
	border-radius: 0;
	color: var(--text-color-code);
	margin-left: auto;
	margin-right: auto;
	max-width: 960px;
	padding-left: 1rem;
	padding-right: 1rem;
}

@supports (max-width: var(--max-width)) {

	@media (min-width: 960px) {
		.wp-block-code code {
			max-width: var(--max-width);
			padding-left: 0;
			padding-right: 0;
		}
	}

}

.wp-block-code:focus {
	border-color: var(--primary-color);
	outline: none;
}

.wp-block-code code {
	line-height: 1.5;
	overflow-wrap: normal;
	white-space: pre;
}

.nieuw-theme .wp-block-code > code {
	background-color: var(--tertiary-color);
	border: 0;
	color: var(--text-color-code);
	font-family: var(--font-monospace);
}
