.wp-block-cover {
	font-family: var(--font-default);
}

.wp-block-cover-image.has-background-dim:not([class*="-background-color"]),
.wp-block-cover.has-background-dim:not([class*="-background-color"]) {
	color: #fff;
}

.wp-block-cover,
.wp-block-cover-image {
	clear: both;
	font-weight: 700;
}

.wp-block-cover.alignleft {
	margin-left: -1rem;
	margin-top: 0;
}

.wp-block-cover.alignright {
	margin-top: 0;
	margin-right: -1rem;
}

@media only screen and (min-width: 482px) {

	.wp-block-cover.alignleft,
	.wp-block-cover.alignright {
		width: 420px;
	}

	.wp-block-cover.alignleft {
		float: left;
		margin-left: calc(50% - 480px);
		margin-right: 1rem;
	}

	.wp-block-cover.alignright {
		float: right;
		margin-left: 1rem;
		margin-right: calc(50% - 480px);
	}

	@supports (margin-left: var(--max-width)) {

		.wp-block-cover.alignleft {
			margin-left: auto;
		}

		.wp-block-cover.alignright {
			margin-right: auto;
		}

		.wp-block-cover.alignleft,
		.wp-block-cover.alignright {
			width: 100%;
			max-width: 50%;
		}

	}

}

@media only screen and (min-width: 822px) {

	@supports (margin-left: var(--max-width)) {

		.wp-block-cover.alignleft,
		.wp-block-cover.alignright {
			max-width: 420px;
		}

		.wp-block-cover.alignleft {
			float: left;
			margin-left: calc(50% - var(--max-width) / 2);
			margin-right: 1rem;
		}

		.wp-block-cover.alignright {
			float: right;
			margin-left: 1rem;
			margin-right: calc(50% - var(--max-width) / 2);
		}

	}
}
