.blocks-gallery-image figcaption a,
.blocks-gallery-item figcaption a,
.blocks-gallery-image figcaption a:hover,
.blocks-gallery-item figcaption a:hover {
	color: #fff;
}

@media only screen and (min-width: 482px) {

	.wp-block-gallery.alignleft,
	.wp-block-gallery.alignright {
		margin-top: 1em;
	}

	.wp-block-gallery.alignleft,
	.wp-block-gallery.alignright {
		width: 420px;
	}

	.wp-block-gallery.alignleft {
		float: left;
		margin-left: calc(50% - 480px);
		margin-right: 1rem;
	}

	.wp-block-gallery.alignright {
		float: right;
		margin-left: 1rem;
		margin-right: calc(50% - 480px);
	}

	@supports (margin-left: var(--max-width)) {

		.wp-block-gallery.alignleft,
		.wp-block-gallery.alignwide {
			margin-left: auto;
		}

		.wp-block-gallery.alignright,
		.wp-block-gallery.alignwide {
			margin-right: auto;
		}

		.wp-block-gallery.alignleft,
		.wp-block-gallery.alignright {
			width: 100%;
			max-width: 50%;
		}

	}

}

@media only screen and (min-width: 822px) {

	@supports (margin-left: var(--max-width)) {

		.wp-block-gallery.alignleft,
		.wp-block-gallery.alignright {
			max-width: 420px;
		}

		.wp-block-gallery.alignleft {
			float: left;
			margin-left: calc(50% - var(--max-width) / 2);
			margin-right: 1rem;
		}

		.wp-block-gallery.alignright {
			float: right;
			margin-left: 1rem;
			margin-right: calc(50% - var(--max-width) / 2);
		}

	}
}

.palette-purple .blocks-gallery-grid .blocks-gallery-image figcaption a,
.palette-purple .blocks-gallery-grid .blocks-gallery-item figcaption a,
.palette-purple .wp-block-gallery .blocks-gallery-image figcaption a,
.palette-purple .wp-block-gallery .blocks-gallery-item figcaption a {
	color: var(--secondary-color);
}
