.wp-block-search__input {
	background-color: var(--input-background-color);
	border: 2px solid var(--text-color);
	color: var(--input-color);
	padding: 0.5em;
}

.wp-block-search__button {
	background-color: var(--button-background-color);
	border-color: var(--button-background-color);
	color: var(--button-color);
	font-weight: 700;
	padding: 0.5em 2em;
}

.wp-block-search__button:hover {
	background-color: var(--button-background-color-hover);
	border-color: var(--button-background-color-hover);
}
